<div class="container" style="margin-top: 30px;">
    <div class="row flex">
      <div class="col-4">
        <div class="card shadow" style="width: 18rem; height: 6rem">
          <div class="card-body">
            <h5 class="card-title">Today's Appointments</h5>
            <div class="row">
              <div class="col-sm-4">
                <div id="divChart" >
                  <canvas id="MyChart"></canvas>
                </div>
              </div>
              <div class="col-sm-3">
                <div>
                  <h2
                    class="card-text align-self-end mt-auto"
                  >
                    {{ high }}
                  </h2>
                </div>
              </div>
              <div class="col-sm-5">
                <div>
                  <h2
                    class="card-text mt-auto"
                    style="
                      float: right;
                      font-size: 2.2em;
                      color: rgba(0, 0, 0, 0.3);">
                    Today
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card shadow" style="width: 18rem; height: 6rem">
          <div class="card-body">
            <h5 class="card-title">Total Appointments</h5>
            <div class="row">
              <div class="col-sm-4">
                <div id="divChart1">
                  <canvas id="MyChart1"></canvas>
                </div>
              </div>
              <div class="col-sm-3">
                <div>
                  <h2
                    class="card-text align-self-end mt-auto"
                  >
                    {{ high1 }}
                  </h2>
                </div>
              </div>
              <div class="col-sm-5">
                <div>
                  <h2
                    class="card-text mt-auto"
                    style="
                      float: right;
                      font-size: 2.2em;
                      color: rgba(0, 0, 0, 0.3);
                    "
                  >
                    Today
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card shadow" style="width: 18rem; height: 6rem">
          <div class="card-body">
            <h5 class="card-title">Cancelled</h5>
            <div class="row">
              <div class="col-sm-4">
                <div id="divChart2">
                  <canvas id="MyChart2"></canvas>
                </div>
              </div>
              <div class="col-sm-3">
                <div>
                  <h2
                    class="card-text align-self-end mt-auto"
                  >
                    {{ high2 }}
                  </h2>
                </div>
              </div>
              <div class="col-sm-5">
                <div>
                  <h2
                    class="card-text mt-auto"
                    style="
                      float: right;
                      font-size: 2.2em;
                      color: rgba(0, 0, 0, 0.3);
                    "
                  >
                    Today
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  