
<div class="mat-typography bg-container">
    <div class="container">
        <div class="row">
          <div class="d-flex flex-row justify-content-center">
            <i class="far fa-file-alt"></i>
            <h1>Presctiption</h1>
            <button class="btn btn-close"></button>
          </div>
        </div>
        <div>
          <app-prescription-detail-form></app-prescription-detail-form>
        </div>
        <!-- <div class="row">
            <div class="col-4">
                <app-prescription-detail-form></app-prescription-detail-form>
            </div>
            <div class="col-5">
                <app-prescription-details></app-prescription-details>
            </div>
        </div> -->
    </div>
  <!-- <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closeFn()" class="btn btn-primary">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary ms-2">Install</button>
  </div> -->
</div>
  