<div class="m-2">
<div class="bg-white mb-0 card-border pb-2">
    <div class="d-flex flex-row align-items-center pt-3 ps-3">
        <div class="img-container">
            <a><img src="{{patient.Image}}" alt="" class="card-img"></a>
        </div>
        <div class="ps-3">
            <h3 class="card-heading mb-1">{{patient.Name}}</h3>
            <p class="card-text">{{patient.Location}}</p>
            <p class="card-text">Mobile: {{patient.MobileNumber}}</p>
        </div>
    </div>
</div>
<div class="bg-white mt-0 p-1 pt-2">
    <!-- <hr class="mb-2 w-100"> -->
    <div class="d-flex flex-row justify-content-around pb-2">
        <i class="fas fa-lungs icon"></i>
        <i class="fas fa-male icon"></i>
        <i class="fas fa-heartbeat icon"></i>
    </div>
</div>
</div>
