<div class="">
    <div class="appointment-card-container  m-2">
        <div class="d-flex flex-row justify-content-between">
            <h1 class="symptom-head">Appointment History</h1>
            <select name="Year" id="" class="year-container me-2 mt-1">
                <option value="2017">2017</option>
            </select>
        </div>
        <hr class="hr-line">
        <div class="appointment-container pb-2">
            <div class="appointment-card mb-2 me-2">
                <div class="d-flex flex-row">
                    <div class="w-75 d-flex flex-row">
                    <div class="profile-container">
                        <h4 class="text-center mt-2 text-white">A</h4>
                    </div>
                    <div class="ms-2">
                        <div class="d-flex flex-row">
                            <i class="fas fa-stethoscope dr-icon"></i>
                            <h3 class="dr-name">DR. Ajay</h3>
                        </div>
                        <p class="designation">Neurologist</p>
                    </div>
                    </div>
                    <div class="time-container w-25 d-flex flex-row">
                        <i class="far fa-clock align-self-center m-2"></i>
                        <div class="">
                            <p class="time">13:34</p>
                            <p class="today">Today</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row ms-3">
                    <i class="far fa-clipboard pad-icon"></i>
                    <p class="des-text">Patient encounterd neck pain Morning during jogging for an hour</p>
                </div>
            </div>
            <div class="appointment-card mb-2 me-2">
                <div class="d-flex flex-row">
                    <div class="w-75 d-flex flex-row">
                    <div class="profile-container">
                        <h4 class="text-center mt-2 text-white">A</h4>
                    </div>
                    <div class="ms-2">
                        <div class="d-flex flex-row">
                            <i class="fas fa-stethoscope dr-icon"></i>
                            <h3 class="dr-name">DR. Ajay</h3>
                        </div>
                        <p class="designation">Neurologist</p>
                    </div>
                    </div>
                    <div class="time-container w-25 d-flex flex-row">
                        <i class="far fa-clock align-self-center m-2"></i>
                        <div class="">
                            <p class="time">13:34</p>
                            <p class="today">Today</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row ms-3">
                    <i class="far fa-clipboard pad-icon"></i>
                    <p class="des-text">Patient encounterd neck pain Morning during jogging for an hour</p>
                </div>
            </div>
            <div class="appointment-card mb-2 me-2">
                <div class="d-flex flex-row">
                    <div class="w-75 d-flex flex-row">
                    <div class="profile-container">
                        <h4 class="text-center mt-2 text-white">A</h4>
                    </div>
                    <div class="ms-2">
                        <div class="d-flex flex-row">
                            <i class="fas fa-stethoscope dr-icon"></i>
                            <h3 class="dr-name">DR. Ajay</h3>
                        </div>
                        <p class="designation">Neurologist</p>
                    </div>
                    </div>
                    <div class="time-container w-25 d-flex flex-row">
                        <i class="far fa-clock align-self-center m-2"></i>
                        <div class="">
                            <p class="time">13:34</p>
                            <p class="today">Today</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row ms-3">
                    <i class="far fa-clipboard pad-icon"></i>
                    <p class="des-text">Patient encounterd neck pain Morning during jogging for an hour</p>
                </div>
            </div>
        </div>
    </div>