.bg-container {
    background-color: rgb(234,234,234);
    height: 90vh;
}

.back-icon {
    font-size: 24px;
    color: grey;
    font-weight: 500;
}

.profile-container {
    height: 100px;
    width: 100px;
    border-width: 0px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.card-img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

.appointment-card-container {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(139, 145, 151, 0.5);
    height: 60vh;
    padding: 10px;
}

.symptom-head {
    font-size: 24px;
    font-weight: 400;
    color: cornflowerblue;
}

.year-container {
    height: 24px;
    width: 60px;
    border-radius: 5px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(139, 145, 151, 0.3);
    text-align: center;
    font-size: 12px;
}

.hr-line {
    border-top: 1px solid black;
    border-bottom: 0.5px solid black;
    margin-top: 5px;
}

.appointment-container {
    overflow-y: scroll;
    position: relative;
    height: 83%;
}



* {
    scrollbar-width: thin;
    scrollbar-color: grey white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid white;
  }

  .des-text {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      color: darkslategray;
      margin-left: 5px;
      margin-bottom: 0px;
      margin-right: 10px;
  }

  .dr-name {
      font-size: 20px;
      color: darkslategray;
      font-weight: bold;
      margin-left: 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .dr-icon {
      font-size: 18px;
      margin: 5px;
  }

  .profile-container {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: teal;
  }

  .appointment-card {
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(139, 145, 151, 0.5);
        padding: 10px;
  }

  .designation {
      font-size: 12px;
      color: lightslategrey;
      font-style: italic;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 10px;
  }

  .time-container {
    border: 0px;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(139, 145, 151, 0.5);
  }

.time {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

  .today {
      font-size: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: lightslategrey;
      text-align: center;
  }

  .pad-icon {
      font-size: 28px;
      color: lightslategrey;
      margin: 10px;
  }