/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-form-dialog .mat-dialog-container {
    background-color: rgb(135, 206, 250, 0.7);
    backdrop-filter: blur(6px);
}